@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #fff;
}


.container {
    max-width: 1650px;
    box-sizing: border-box;
    margin: auto;
}

body {
    min-height: 100%;
    /* background: linear-gradient(180deg, #51647B 9.93%, #798088 100%); */
    font-family: 'Unbounded', sans-serif;
    background-color: black;
    /* background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%); */
    /* background-size: cover;
    background-repeat: no-repeat; */
}

body a {
    text-decoration: none;
    color: #FFFFFF;
}

/* HEADER-start */

header {
    padding-top: 40px;
    margin-bottom: 200px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.header-left-side-top a:hover {
    color: #D1C12B;
}

.header-left-side-bottom a:hover {
    color: #D1C12B;
}

header a {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase;
}

.header-left-side-top {
    display: flex;
    margin-bottom: 25px;
    align-items: flex-end;
}

.header-left-side-top a {
    font-size: 15px;
    padding: 10px 15px;
}

.header-left-side-bottom {
    margin-left: 80px;
}

.header-left-side-bottom a {
    font-size: 10px;
    padding: 10px 30px;
}

.header-right-side {
    display: flex;
    align-items: flex-end;
    height: 51px;
}

.header-right-side a {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER-end */

/* order-start */

.order {
    position: relative;
}

.order-container-form {
    flex-basis: 30%;
    border-left: 3px solid #1F252D;
    box-sizing: border-box;
    padding-left: 25px;
}

.order  > .container {
    display: flex;
    justify-content: space-between;
}

.order-prod-list {
    /* width: 70%; */
    flex-basis: 60%;
    /* border-right: 3px solid #1F252D; */
}

.order-title-behind {
    z-index: -1;
    color: #454a504b;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    line-height: 80px;
    top: 50%;
    text-shadow: none;
    font-size: 180px;
}

.order-info {
    flex: 1;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
}

.order-info form {
    display: flex;
    align-items: center;
}

.order-info>p {
    font-size: 30px;
    margin-bottom: 30px;
}

.order-prod-list-card {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    background-color: #10171F;
    box-shadow: 5px 5px 10px #10171F;
    margin-bottom: 15px;
}

.order-prod-list-card img {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    object-fit: cover;
}

.plusminus {
    align-items: center;
    display: flex;
    margin-right: 45px;
}

.plusminus button {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: 'Unbounded', sans-serif;
}

.size {
    margin-right: 32px;
}

.order-prod-list-price {
    text-align: right;
}

.order-prod-list-price>p {
    color: #3B4654;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.order-bottom-side {
    justify-content: flex-end;
    gap: 60px;
    display: flex;
}

.order-bottom-side p {
    margin-bottom: 30px;
}

.license {
    display: inline-flex;
    background-color: #10171F;
    border-radius: 15px;
    color: white;
    padding: 11px 30px 11px 15px;
    align-items: center;
    text-transform: uppercase;
}

.licensetwo {
    margin-top: 10px;
}

.license label {
    padding-left: 15px;
    font-size: 10px;
    text-align: left;
}

.license input[type='checkbox'] {
    border: none;
    width: 25px;
    height: 25px;
}

.order-container-form > p {
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.contact-number {
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.order-container-form input {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #10171F;
    color: #3B4654;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    border: none;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.order-data-delivery {
    margin-top: 30px;
    margin-bottom: 5px;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.order-item {
    margin-bottom: 13px;
}

.order-data {
    color: #3B4654;
    font-size: 15px;
    margin-bottom: 5px;
}

.order-sum {}

/* order-end */